<div class="row">
	<div class="col-md-12">
		<m-portlet>
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{paid}} Vendors
					</h3>
				</div>
			</ng-container>

			<ng-container mPortletHeadTools>
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="createVendorDialog()">
							Create Vendor
						</button>
					</li>
				</ul>
			</ng-container>

			<ng-container mPortletBody>
				<div perfectScrollbar class="mat-table__wrapper mat-table__wrapper--dashboard">

					<table mat-table [dataSource]="vendors" class="lmat-elevation-z8" matSort matSortActive="start_date" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>

						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
							<td mat-cell *matCellDef="let vendor">
								{{vendor.name}}
							</td>
						</ng-container>

						<ng-container matColumnDef="type">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
							<td mat-cell *matCellDef="let vendor">
								<span class="m-badge m-badge--{{ getItemCssClassByType(vendor.type) }} m-badge--wide">{{getTypeString(vendor.type)}}</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="brand_img">
							<th mat-header-cell *matHeaderCellDef  mat-sort-header>Brand Image Url</th>
							<td mat-cell *matCellDef="let vendor">
								{{vendor.brand_img}}
							</td>
						</ng-container>

						<ng-container matColumnDef="actions" >
							<th mat-header-cell *matHeaderCellDef>
								Actions
							</th>
							<td mat-cell *matCellDef="let vendor">
								<button mat-icon-button color="primary" matTooltip="Edit Vendor" (click)="editVendorDialog(vendor)" >
									<mat-icon>edit</mat-icon>
								</button>
								<button mat-icon-button color="primary" matTooltip="Delete Vendor" (click)="deleteVendor(vendor)" >
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
						<tr 
							mat-row
							*matRowDef="let row; columns: displayedColumns"
							></tr>
					</table>

					<div class="mat-table__message" *ngIf="is_empty">No Vendor Found</div>
				</div>
				<div class="mat-table__bottom">
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" [length]="len" [showFirstLastButtons]="true"></mat-paginator>
				</div>
			</ng-container>
		</m-portlet>
	</div>
</div>
