<h1 mat-dialog-title>{{ data.new ? 'Create Vendor' : 'Update Vendor' }}</h1>
<div mat-dialog-content>
	<form class="m-login__form m-form" name="form" novalidate>
		<div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}" role="alert">
			<span>{{message}}</span>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<mat-form-field>
					<mat-label>Name</mat-label>
				    <input matInput [(ngModel)]="data.vendor.name" placeholder="Name" type="text" name="vendor_name" required autocomplete="false">
				</mat-form-field>
			</div>
			<div class="col-sm-6">
				<mat-form-field>									
					<mat-label>Task Name</mat-label>
				    <input matInput [(ngModel)]="data.vendor.spider_name" placeholder="Name" type="text" name="vendor_task" required autocomplete="false">
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<mat-form-field>
					<mat-label>Select Type</mat-label>
					<mat-select placeholder="Select Type" [(value)]="data.vendor.type" name="Type">
						<mat-option value="website">Vendor</mat-option>
						<mat-option value="saas">SAAS</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-sm-6">
				<mat-form-field>
					<mat-label>Vendor Brand Image</mat-label>
				    <input matInput [(ngModel)]="data.vendor.brand_img" placeholder="Vendor Brand Image" type="text" name="vendor_brand" required autocomplete="false">
				</mat-form-field>
			</div>
		</div>
	</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" *ngIf="data.new">Create</button>
  <button mat-button (click)="update()" *ngIf="!data.new">Update</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
