<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-tools">
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">Settings</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="f.form.valid && save()" #f="ngForm" >
      <div class="m-portlet__body">
        <div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}" role="alert">
          <span>{{message}}</span>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-text-input" class="col-2 col-form-label">Stripe Key</label>
          <div class="col-7">
            <input class="form-control m-input" type="text" [(ngModel)]="setting.stripe_api_key" name="stripe_api_key">
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-text-input" class="col-2 col-form-label">PayPal Key</label>
          <div class="col-7">
            <input class="form-control m-input" type="text" [(ngModel)]="setting.paypal_api_key"  name="paypal_api_key">
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-text-input" class="col-2 col-form-label">Rate</label>
          <div class="col-7">
            <input class="form-control m-input" type="text" [(ngModel)]="setting.rate" name="rate">
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label for="example-text-input" class="col-2 col-form-label">Dropbox Token</label>
          <div class="col-7">
            <input class="form-control m-input" type="text" [(ngModel)]="setting.dropbox_token" name="dropbox_token">
          </div>
        </div>
        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
              <m-spinner-button [options]="spinner" (click)="save()">Save</m-spinner-button>
              <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
