<div class="row">
	<div class="col-md-12">
		<m-portlet>
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Payment Setup
					</h3>
				</div>
			</ng-container>

			<ng-container mPortletBody>
				<ngx-paypal [config]="payPalConfig"></ngx-paypal>
			</ng-container>
		</m-portlet>
	</div>
</div>
