<h1 mat-dialog-title>{{ data.new ? 'Create Invoice' : 'Update Invoice' }}</h1>
<div mat-dialog-content>
	<form class="m-login__form m-form" name="form" novalidate>
		<div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}" role="alert">
			<span>{{message}}</span>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<mat-form-field>
					<input matInput [matDatepicker]="startDatePicker" [(ngModel)]="data.invoice.start_date" placeholder="From Date" name="start_date">
					<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
					<mat-datepicker #startDatePicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-sm-6">
				<mat-form-field>
					<input matInput [matDatepicker]="endDatePicker" [min]="data.invoice.start_date" placeholder="Due Date" [(ngModel)]="data.invoice.end_date" name="end_date">
					<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
					<mat-datepicker #endDatePicker></mat-datepicker>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<mat-form-field>
					<mat-label>Select User</mat-label>
				    <mat-select placeholder="Select Payment Type" [(ngModel)]="data.invoice.user" name="payment_type">
				    	<mat-option *ngFor="let user of data.users" [value]="user.id">
					      {{user.first_name}} {{user.last_name}}
					    </mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-sm-6">
				<mat-form-field>
					<mat-label>Payment Type</mat-label>
					<mat-select placeholder="Select Payment Type" [(value)]="data.invoice.payment_type" name="payment_type">
					    <mat-option value="PayPal">PayPal</mat-option>
					    <mat-option value="Stripe">Stripe</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" *ngIf="data.new">Create</button>
  <button mat-button (click)="update()" *ngIf="!data.new">Update</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
