<h1 mat-dialog-title>{{data.new ? 'Add Token' : 'Update Token'}}</h1>
<div mat-dialog-content>
	<form class="m-login__form m-form" name="form" novalidate>
		<div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}" role="alert">
			<span>{{message}}</span>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<mat-form-field>
					<mat-label>Name</mat-label>
				    <input matInput [(ngModel)]="data.dropbox.name" placeholder="Name" type="text" name="dropbox_name" required autocomplete="false">
				</mat-form-field>
			</div>
			<div class="col-sm-6">
				<mat-form-field>
					<mat-label>Token</mat-label>
				    <input matInput [(ngModel)]="data.dropbox.token" placeholder="Token" name="dropbox_token" required>
				</mat-form-field>
			</div>
		</div>
	</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" *ngIf="data.new">Create</button>
  <button mat-button (click)="update()" *ngIf="!data.new">Update</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
