<div class="row">
	<div class="col-md-12">
		<m-portlet>
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Dropbox
					</h3>
				</div>
			</ng-container>

			<ng-container mPortletHeadTools>
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="openDialog()">
							Add Token
						</button>
					</li>
				</ul>
			</ng-container>

			<ng-container mPortletBody>
				<div perfectScrollbar class="mat-table__wrapper mat-table__wrapper--dashboard">
					<table mat-table class="lmat-elevation-z8" [dataSource]="dropboxes" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>
						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
							<td mat-cell *matCellDef="let dropbox">
								{{dropbox.name}}
							</td>
						</ng-container>

						<ng-container matColumnDef="token">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Token</th>
							<td mat-cell *matCellDef="let dropbox">
								{{dropbox.token}}
							</td>
						</ng-container>

						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef>
								Actions
							</th>
							<td mat-cell *matCellDef="let dropbox">
								<button mat-icon-button color="primary" matTooltip="Edit Item" (click)="openDialog(dropbox)">
									<mat-icon>edit</mat-icon>
								</button>&nbsp;
								<button mat-icon-button color="warn" type="button" matTooltip="Delete item" (click)="delete(dropbox)">
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
						<tr mat-row matRipple *matRowDef="let row; columns: displayedColumns"></tr>
					</table>
					<div class="mat-table__message" *ngIf="dropboxes.length == 0">No Spiders Found</div>
				</div>
				<div class="mat-table__bottom">
					
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" [length]="dropboxes.length" [showFirstLastButtons]="true"></mat-paginator>
				</div>
			</ng-container>
		</m-portlet>
	</div>
</div>
