<div class="row">
	<div class="col-md-12">
		<div perfectScrollbar class="mat-table__wrapper mat-table__wrapper--dashboard">

			<table mat-table [dataSource]="spider_logs" class="lmat-elevation-z8" matSort matSortActive="username" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>

				<ng-container matColumnDef="file_name">
					<th mat-header-cell *matHeaderCellDef >
						File Name
						<mat-form-field class="filter" floatLabel="never">
					        <mat-label>Search</mat-label>
					        <input matInput [(ngModel)]="filter.file_name" name="spider_log_name">
					    </mat-form-field>
					</th>
					<td mat-cell *matCellDef="let spider_log">
						<a href="{{spider_log.file_link}}" target="_blank">{{spider_log.file_name}}</a>
					</td>
				</ng-container>

				<ng-container matColumnDef="bill_date">
					<th mat-header-cell *matHeaderCellDef >
						Bill Date
						<mat-form-field class="filter" floatLabel="never">
					        <mat-label>Search</mat-label>
					        <input matInput [(ngModel)]="filter.bill_date" name="bill_date">
					    </mat-form-field>
					</th>
					<td mat-cell *matCellDef="let spider_log">
						{{spider_log.bill_date}}
					</td>
				</ng-container>

				<ng-container matColumnDef="invoice_id" >
					<th mat-header-cell *matHeaderCellDef>
						Invoice Id
						<mat-form-field class="filter" floatLabel="never">
					        <mat-label>Search</mat-label>
					        <input matInput [(ngModel)]="filter.invoice_id" name="invoice_id">
					    </mat-form-field>
					</th>
					<td mat-cell *matCellDef="let spider_log">
						{{spider_log.invoice_id}}
					</td>
				</ng-container>

				<ng-container matColumnDef="account_number">
					<th mat-header-cell *matHeaderCellDef >
						Accound Number
						<mat-form-field class="filter" floatLabel="never">
					        <mat-label>Search</mat-label>
					        <input matInput [(ngModel)]="filter.account_number" name="account_number">
					    </mat-form-field>
					</th>
					<td mat-cell *matCellDef="let spider_log" >
						{{spider_log.account_number}}
					</td>

				</ng-container>

				<ng-container matColumnDef="download_time">
					<th mat-header-cell *matHeaderCellDef >
						Download Date
					</th>
					<td mat-cell *matCellDef="let spider_log" >
						{{spider_log.download_time}}
					</td>

				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef >
						<button (click)="loadItems()" class="btn btn-primary m-btn m-btn--air m-btn--custom">Filter</button>
					</th>
					<td mat-cell *matCellDef="let spider_log"></td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr 
					mat-row
					*matRowDef="let row; columns: displayedColumns"
					></tr>
			</table>

			<div class="mat-table__message" *ngIf="is_empty">Not Logs yet</div>
		</div>
		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" [length]="len" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</div>
</div>
