<div class="m-widget14" *ngIf="lineChartData">
	<canvas baseChart
	#baseChart="base-chart"	
	[datasets]="lineChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
</div>
