<div class="row">
	<div class="col-md-4">
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Filters
				</mat-panel-title>
			</mat-expansion-panel-header>

			<mat-form-field *ngIf="showVendorFilter">
				<mat-label>Filter By Vendor</mat-label>
				<mat-select placeholder="Select Payment Type" [(ngModel)]="vendorId" name="payment_type">
			    	<mat-option *ngFor="let vendor of vendors" [value]="vendor.id">
				      {{vendor.name}}
				    </mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Filter By Period</mat-label>
				<mat-select placeholder="Period" [(ngModel)]="period" name="payment_type">
			    	<mat-option *ngFor="let pr of periods" [value]="pr">
				      {{pr}}
				    </mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<input matInput [matDatepicker]="startDatePicker" [(ngModel)]="fromDate" placeholder="From Date" name="start_date">
				<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #startDatePicker></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" placeholder="End Date" name="end_date">
				<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #endDatePicker></mat-datepicker>
			</mat-form-field>

			<div class="clearfix mat-button-wrapper">
				<button (click)="filter()" class="btn btn-primary m-btn m-btn--air m-btn--custom">Filter</button>
			</div>
		</mat-expansion-panel>

	</div>
	<div class="col-md-8">
		<m-portlet>
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Activities
					</h3>
				</div>
			</ng-container>
			<ng-container mPortletBody>
				<m-line-chart></m-line-chart>
			</ng-container>
		</m-portlet>
	</div>
</div>
