
<!--Begin::Section-->
<div class="m-portlet">
	<div class="m-portlet__body m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-12">
				<m-line-chart></m-line-chart>
			</div>
		</div>
	</div>
</div>
<!--End::Section-->
