<h1 mat-dialog-title>{{ data.new ? 'Add Spider' : 'Update Spider'}}</h1>
<div mat-dialog-content>
	<form class="m-login__form m-form" name="form" novalidate>
		<div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}" role="alert">
			<span>{{message}}</span>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<mat-form-field>
					<mat-label>Name</mat-label>
				    <input matInput [(ngModel)]="data.spider.name" placeholder="Name" type="text" name="v_name" required autocomplete="false">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Username</mat-label>
				    <input matInput [(ngModel)]="data.spider.username" placeholder="Username" type="text" name="v_username" required autocomplete="false">
				</mat-form-field>
			</div>
			<div class="col-md-6 col-sm-12">
				<mat-form-field>
					<mat-label>Password</mat-label>
				    <input matInput [(ngModel)]="data.spider.password" placeholder="Password" type="text" name="v_password" required autocomplete="false">
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<mat-form-field>
					<mat-label>Months</mat-label>
				    <input matInput [(ngModel)]="data.spider.schedule.months" placeholder="Months" type="number" name="schedule_months" required>
				</mat-form-field>
			</div>
			<div class="col-sm-3">
				<mat-form-field>
					<mat-label>Weeks</mat-label>
				    <input matInput [(ngModel)]="data.spider.schedule.weeks" placeholder="Weeks" type="number" name="schedule_weeks" required>
				</mat-form-field>
			</div>
			<div class="col-sm-3">
				<mat-form-field>
					<mat-label>Days</mat-label>
				    <input matInput [(ngModel)]="data.spider.schedule.days" placeholder="Days" type="number" name="schedule_days" required>
				</mat-form-field>
			</div>
			<div class="col-sm-3">
				<mat-form-field>
					<mat-label>Hours</mat-label>
				    <input matInput [(ngModel)]="data.spider.schedule.hours" placeholder="Hours" type="number" name="schedule_hours" required>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<mat-form-field>
					<mat-label>Dropbox Token</mat-label>
				    <mat-select placeholder="Select Dropbox" [(value)]="data.spider.dropbox">
					    <mat-option *ngFor="let dropbox of data.dropboxes" [value]="dropbox.id">
					      {{dropbox.name}}
					    </mat-option>
					 </mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<mat-checkbox name="status" [(ngModel)]="data.spider.status">Enabled
				</mat-checkbox>
			</div>
		</div>
	</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" *ngIf="data.new">Create</button>
  <button mat-button (click)="update()" *ngIf="!data.new">Update</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
