<div class="row">
	<div class="col-md-12">
		<m-portlet>
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{vendor}} Files
					</h3>
				</div>
			</ng-container>

			<ng-container mPortletBody>
				<div class="row">
					<div class="col-md-12">
						<div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}" role="alert">
							<span>{{message}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<mat-form-field>
							<mat-label>Username</mat-label>
						    <input matInput [(ngModel)]="spider.username" placeholder="Username" type="text" name="v_username" required autocomplete="false">
						</mat-form-field>
					</div>
					<div class="col-md-3 col-sm-6">
						<mat-form-field>
							<mat-label>Password</mat-label>
						    <input matInput [(ngModel)]="spider.password" placeholder="Password" type="text" name="v_password" required autocomplete="false">
						</mat-form-field>
					</div>
					<div class="col-md-3 col-sm-6">
						<mat-form-field>
							<mat-label>Dropbox</mat-label>
						    <mat-select placeholder="Select Dropbox" [(value)]="spider.dropbox">
							    <mat-option *ngFor="let dropbox of dropboxes" [value]="dropbox.id">
							      {{dropbox.name}}
							    </mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-3 col-sm-6">
						<mat-checkbox name="status" [(ngModel)]="spider.status">Enabled</mat-checkbox>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9 col-sm-6">
						<mat-form-field>
							<input matInput [matDatepicker]="startDatePicker" [(ngModel)]="spider.from_date" placeholder="From Date" name="start_date">
							<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
							<mat-datepicker #startDatePicker></mat-datepicker>
						</mat-form-field>
					</div>
					<div class="col-md-6 col-sm-6">
						<button class="btn btn-primary m-btn m-btn--air m-btn--custom" (click)="save()" *ngIf="new">Create</button>
  						<button  class="btn btn-primary m-btn m-btn--air m-btn--custom" (click)="update()" *ngIf="!new">Update</button>
  						<button mat-button (click)="getSpider()">Reset</button>
					</div>
				</div>
				<div class="seperator--dashed"></div>
				<m-spider-log [vendor]="vendor"></m-spider-log>
			</ng-container>
		</m-portlet>
	</div>
</div>