<h1 mat-dialog-title> Upload Invoice PDFs</h1>
<div mat-dialog-content>
	<form class="m-login__form m-form" name="form" novalidate>
		<div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}" role="alert">
			<span>{{message}}</span>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
				    Just drag and drop files here
				</div>
				 
				<div style="width: 500px">
				    <mat-file-upload-queue #fileUploadQueue
				        [fileAlias]="'file'"
				        [httpUrl]="uploadLink" multiple>
				    
				        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index;">
				        </mat-file-upload>
				    </mat-file-upload-queue>
				</div>
			</div>
		</div>
	</form>
</div>
