<div class="row">
  <div class="col-xl-3 col-lg-4">
    <div class="m-portlet m-portlet--full-height">
      <div class="m-portlet__body">
        <div class="m-card-profile">
          <div class="m-card-profile__title m--hide">
            Your Profile
          </div>
          <div class="m-card-profile__pic">
            <div class="m-card-profile__pic-wrapper">
              <img [src]="user?.detail?.avatar || './assets/app/media/img/users/images.png'" alt="">
            </div>
          </div>
          <div class="m-card-profile__details">
            <span class="m-card-profile__name"></span>
            <a href="" class="m-card-profile__email m-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-lg-8">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
      <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item m-portlet__nav-item--last">
              <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                  <i class="la la-gear"></i>
                </a>
                <div class="m-dropdown__wrapper" style="z-index: 101;">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">
                          <li class="m-nav__section m-nav__section--first">
                            <span class="m-nav__section-text">Quick Actions</span>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-share"></i>
                              <span class="m-nav__link-text">Create Post</span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-chat-1"></i>
                              <span class="m-nav__link-text">Send Messages</span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                              <span class="m-nav__link-text">Upload File</span>
                            </a>
                          </li>
                          <li class="m-nav__section">
                            <span class="m-nav__section-text">Useful Links</span>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-info"></i>
                              <span class="m-nav__link-text">FAQ</span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                              <span class="m-nav__link-text">Support</span>
                            </a>
                          </li>
                          <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                          <li class="m-nav__item m--hide">
                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Submit</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body">
        <form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="f.form.valid && save()" #f="ngForm" >
          <div class="m-portlet__body">
            <div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-success': messageType == 'success', 'alert-danger': messageType == 'error'}" role="alert">
              <span>{{message}}</span>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-10 ml-auto">
                <h3 class="m-form__section">1. Personal Details</h3>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">First Name</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.first_name" name="first_name">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Last Name</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.last_name"  name="last_name">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Occupation</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.occupation" name="occupation">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Company Name</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.company_name" name="company_name">
                <span class="m-form__help">If you want your invoices addressed to a company. Leave blank to use your full name.</span>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Phone No.</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.phone_number" name="phone_number" pattern="\+?\d{10}">
              </div>
            </div>
            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
            <div class="form-group m-form__group row">
              <div class="col-10 ml-auto">
                <h3 class="m-form__section">2. Address</h3>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Address</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.address" name="address">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">City</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.city" name="city">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">State</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.state" name="state">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Postcode</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.post_code" name="post_code" pattern="[a-zA-Z1-9]{3-10}">
              </div>
            </div>
            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
            <div class="form-group m-form__group row">
              <div class="col-10 ml-auto">
                <h3 class="m-form__section">3. Social Links</h3>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Linkedin</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.linkedin" name="linkedin">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Facebook</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.facebook" name="facebook">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Twitter</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.twitter" name="twitter">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Instagram</label>
              <div class="col-7">
                <input class="form-control m-input" type="text" [(ngModel)]="user.detail.instagram" name="instagram">
              </div>
            </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-7">
                  <m-spinner-button [options]="spinner" (click)="save()">Save</m-spinner-button>
                  <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>