<div class="m-widget14">
	<canvas baseChart
		[datasets]="barChartData"
		[labels]="barChartLabels"
		[options]="barChartOptions"
		[legend]="barChartLegend"
		[chartType]="barChartType"
		(chartHover)="chartHovered($event)"
		(chartClick)="chartClicked($event)"></canvas>
</div>