<h3 mat-dialog-title class="m--font-warning">
	<i class="flaticon-alert"></i> Alert
</h3>
<mat-dialog-content>
	<p class="lead m--font-warning">{{data}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>