<!-- begin::Brand -->
<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
	<div class="m-stack__item m-stack__item--middle m-brand__logo">
		<a routerLink="/" class="m-brand__logo-wrapper">
			<img alt="" [attr.src]="headerLogo"/>
		</a>
	</div>
	<div class="m-stack__item m-stack__item--middle m-brand__tools">
		<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
			<a href="#" class="m-dropdown__toggle btn btn-outline-metal m-btn  m-btn--icon m-btn--pill" [ngClass]="{'dropdown-toggle': user?.roles?.indexOf('ADMIN') >= 0}">
				<span>{{brandText}}</span>
			</a>
			<div class="m-dropdown__wrapper" *ngIf="user?.roles?.indexOf('ADMIN') >= 0">
				<span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
				<div class="m-dropdown__inner">
					<div class="m-dropdown__body">
						<div class="m-dropdown__content">
							<ul class="m-nav">
								<li class="m-nav__section m-nav__section--first m--hide"><span class="m-nav__section-text">Quick Menu</span></li>
								<li class="m-nav__item" [ngClass]="{'m--hide': brandText=='Admin'}"><a routerLink="/admin" class="m-nav__link"> <i class="m-nav__link-icon flaticon-share"></i> <span class="m-nav__link-text">Admin</span> </a></li>
								<li class="m-nav__item"  [ngClass]="{'m--hide': brandText=='Client'}"><a routerLink="/" class="m-nav__link"> <i class="m-nav__link-icon flaticon-share"></i> <span class="m-nav__link-text">Client</span> </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- begin::Responsive Header Menu Toggler-->
		<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block"> <span></span> </a>
		<!-- end::Responsive Header Menu Toggler-->
		<!-- begin::Topbar Toggler-->
		<a id="m_aside_header_topbar_mobile_toggle" (click)="clickTopbarToggle($event)" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block"> <i class="flaticon-more"></i> </a>
		<!--end::Topbar Toggler-->
	</div>
</div>
<!-- end::Brand -->
