<div class="row">
	<div class="col-md-12">
		<m-portlet>
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Invoices
					</h3>
				</div>
			</ng-container>
			<ng-container mPortletHeadTools>
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="openPaymentDialog()">
							Pay
						</button>
					</li>
				</ul>
			</ng-container>

			<ng-container mPortletBody>
				<div perfectScrollbar class="mat-table__wrapper mat-table__wrapper--dashboard">

					<table mat-table [dataSource]="invoices" class="lmat-elevation-z8" matSort matSortActive="start_date" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>

						<ng-container matColumnDef="select">
						  <th mat-header-cell *matHeaderCellDef>
						    <mat-checkbox (change)="$event ? masterToggle() : null"
						                  [checked]="selection.hasValue() && isAllSelected()"
						                  [indeterminate]="selection.hasValue() && !isAllSelected()">
						    </mat-checkbox>
						  </th>
						  <td mat-cell *matCellDef="let invoice">
						    <mat-checkbox (click)="$event.stopPropagation()"
						                  (change)="$event ? selection.toggle(invoice) : null"
						                  [checked]="selection.isSelected(invoice)">
						    </mat-checkbox>
						  </td>
						</ng-container>

						<ng-container matColumnDef="start_date">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>From Date</th>
							<td mat-cell *matCellDef="let invoice">
								{{invoice.start_date}}
							</td>
						</ng-container>

						<ng-container matColumnDef="end_date">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
							<td mat-cell *matCellDef="let invoice">
								{{invoice.end_date}}
							</td>
						</ng-container>

						<ng-container matColumnDef="bill_date">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
							<td mat-cell *matCellDef="let invoice">
								{{invoice.bill_date}}
							</td>
						</ng-container>

						<ng-container matColumnDef="amount">
							<th mat-header-cell *matHeaderCellDef>Invoice Amount</th>
							<td mat-cell *matCellDef="let invoice" >
								{{invoice.price_amount}}
							</td>
						</ng-container>

						<ng-container matColumnDef="payment_type">
							<th mat-header-cell *matHeaderCellDef  mat-sort-header>Payment</th>
							<td mat-cell *matCellDef="let invoice">
								{{invoice.payment_type}}
							</td>
						</ng-container>

						<ng-container matColumnDef="payment_id">
							<th mat-header-cell *matHeaderCellDef  mat-sort-header>Payment Id</th>
							<td mat-cell *matCellDef="let invoice">
								{{invoice.payment_id}}
							</td>
						</ng-container>

						<ng-container matColumnDef="paid">
							<th mat-header-cell *matHeaderCellDef>Status</th>
							<td mat-cell *matCellDef="let invoice" >
								<span class="m-badge m-badge--{{ getItemCssClassByStatus(invoice.paid) }} m-badge--wide">{{ getItemStatusString(invoice.paid) }}</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="actions" >
							<th mat-header-cell *matHeaderCellDef>
								Actions
							</th>
							<td mat-cell *matCellDef="let invoice">
								<button mat-icon-button color="primary" matTooltip="Pay" (click)="openPaymentDialog(invoice)" [disabled]="invoice.paid">
									<mat-icon>payment</mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
						<tr 
							mat-row
							*matRowDef="let row; columns: displayedColumns"
							></tr>
					</table>

					<div class="mat-table__message" *ngIf="is_empty">No Invoice Found</div>
				</div>
				<div class="mat-table__bottom">
					<mat-spinner [diameter]="20" *ngIf="loading$ | async"></mat-spinner>
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" [length]="len" [showFirstLastButtons]="true"></mat-paginator>
				</div>
			</ng-container>
		</m-portlet>
	</div>
</div>
`