<h1 mat-dialog-title>Payment</h1>
<div mat-dialog-content>
	<div class="row">
		<div class="col-md-12">
			<div perfectScrollbar style="max-height: 300px;">
				<table mat-table class="mat-table__wrapper mat-table__wrapper--dashboard"  [dataSource]="data">
					<ng-container matColumnDef="no">
						<th mat-header-cell *matHeaderCellDef> No </th>
						<td mat-cell *matCellDef="let invoice; let i = index;">
							{{i + 1}}
						</td>
					</ng-container>
					<ng-container matColumnDef="period">
						<th mat-header-cell *matHeaderCellDef> Period </th>
						<td mat-cell *matCellDef="let invoice;">
							{{invoice.start_date}} ~ {{invoice.end_date}}
						</td>
					</ng-container>
					<ng-container matColumnDef="price">
						<th mat-header-cell *matHeaderCellDef> Price </th>
						<td mat-cell *matCellDef="let invoice;">
							{{invoice.price_amount}}
						</td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
					<tr mat-row matRipple *matRowDef="let row; columns: displayedColumns"></tr>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="offset-md-6 col-md-6 m--align-center col-sm-12 row">
			<div class="col">
				<h5 class="m-widget1__title">Total price:</h5>
			</div>
			<div class="col">
				<h5 class="m-widget1__number m--font-success">{{price}}</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 m--align-center">
			<ngx-paypal [config]="payPalConfig"></ngx-paypal>
		</div>
		<div class="col-md-6 m--align-center">
			<form novalidate (ngSubmit)="pay($event)" [formGroup]="stripeTest">
				<input type="text" formControlName="name" placeholder="Jane Doe">
				<ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
				<button type="submit">
					Pay
				</button>
			</form>
		</div>
	</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
