<h3 mat-dialog-title class="m--font-warning">
	<i class="flaticon-alert"></i> Delete
</h3>
<mat-dialog-content>
	<p class="lead m--font-warning">Are you sure?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>