<div class="row">
	<div class="col-md-12">
		<m-portlet>
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Users
					</h3>
				</div>
			</ng-container>

			<ng-container mPortletBody>
				<div perfectScrollbar class="mat-table__wrapper mat-table__wrapper--dashboard">

					<table mat-table [dataSource]="users" class="lmat-elevation-z8" matSort matSortActive="start_date" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>

						<ng-container matColumnDef="username">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
							<td mat-cell *matCellDef="let user">
								{{user.username}}
							</td>
						</ng-container>

						<ng-container matColumnDef="user">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
							<td mat-cell *matCellDef="let user">
								{{user.first_name}} {{user.last_name}}
							</td>
						</ng-container>

						<ng-container matColumnDef="email">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>User Email</th>
							<td mat-cell *matCellDef="let user">
								{{user.email}}
							</td>
						</ng-container>

						<ng-container matColumnDef="unpaid_invoice">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Unpaid Invoice</th>
							<td mat-cell *matCellDef="let user">
								{{user.unpaid_inv}}
							</td>
						</ng-container>

						<ng-container matColumnDef="active">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
							<td mat-cell *matCellDef="let user">
								<span class="m-badge m-badge--{{ getItemCssClassByStatus(user.is_active) }} m-badge--wide">
								{{getItemStatusString(user.is_active)}}
								</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="roles">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
							<td mat-cell *matCellDef="let user">
								<span class="m-badge m-badge--info m-badge--wide" *ngFor="let role of user.roles"> {{role}}</span>
							</td>
						</ng-container>
							

						<ng-container matColumnDef="actions" >
							<th mat-header-cell *matHeaderCellDef>
								Actions
							</th>
							<td mat-cell *matCellDef="let user">
								<button mat-icon-button color="primary" matTooltip="Edit Invoice" (click)="editInvoiceDialog(user)" >
									<mat-icon>edit</mat-icon>
								</button>
								<a mat-icon-button color="primary" matTooltip="View Unpaid Invoices" routerLink="/admin/{{user?.id}}/unpaid/invoice">
									<mat-icon>view_list</mat-icon>
								</a>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
						<tr 
							mat-row
							*matRowDef="let row; columns: displayedColumns"
							></tr>
					</table>

					<div class="mat-table__message" *ngIf="is_empty">No User Found</div>
				</div>
				<div class="mat-table__bottom">
					<mat-spinner [diameter]="20" *ngIf="loading$ | async"></mat-spinner>
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" [length]="len" [showFirstLastButtons]="true"></mat-paginator>
				</div>
			</ng-container>
		</m-portlet>
	</div>
</div>
