/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-table__wrapper {
	width: 100%;
	overflow-x: auto;


	mat-cell, mat-header-cell {
		min-height: 100%;
	}


}

.mat-table__wrapper .mat-table {
	min-width: 1000px;
	width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
}


.mat-table__wrapper .mat-table .email-cell {
	word-wrap: normal;
	width: 180px;
	flex: auto;
}


.m-mat-dialog-container__wrapper .mat-dialog-container {
	padding: 0;
	overflow-x: hidden;

	.m-portlet {
		margin-bottom: 0;
	}

	.alert {
		border-radius: 0 !important;
		width: 1032px;
	}
}

.mat-table__wrapper--sub .mat-table {
	min-width: 400px;

	.mat-cell:last-child {
		flex: 0 0 100px;
	}

	.mat-header-cell:last-child {
		flex: 0 0 100px;
	}
}

.ml-auto {
	margin-left: auto;
}

.example-full-width {
	width: 100%;
}

mat-radio-button {
	padding-right: 16px;
}

.m-form--alert {
	margin-top: 30px;
}

.mat-column-checkbox {
	flex: 0 0 68px;
}

.mat-column-id {
	flex: 0 0 68px;
}

.mat-column-main {
	flex: 0 0 568px;
}

.mat-column-actions {
	flex: 0 0 160px;
}

.mat-table__bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.mat-column-vinCode {
	flex: 0 0 170px;
}

.m-portlet-mx-0 {
	margin: -1.1rem -2.2rem 0;
	overflow-x: hidden;
}
.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
	height: 0;
	min-height: 0;
	padding: 0 !important;
	border-bottom:0 !important;
}


// custom css

.m-header-menu {
	@media (min-width: 1025px) {
		margin: 0 auto !important;
	}
}

.m-portlet__head-text {
	text-transform: capitalize;
}

.m-header-search .m-header-search__wrapper {
	border: solid 1px rgba(197, 175, 209, 0.25);
}

.m-brand.m-stack__item {
	float: left;
}

.m-header-search {
	@media (max-width: 1024px) {
		display: inline-block;
	    vertical-align: middle;
	    width: 245px;
	}
}

.m-header-search .m-header-search__form {
	@media (max-width: 1024px) {
		width: 100%;
	}
}

.m-header-search__input-wrapper {
	@media (max-width: 1024px) {
		display: table-cell !important;
	}
}

.m-header-search .m-header-search__wrapper {
	@media (max-width: 1024px) {
		width: 100%;
    	top: 3px !important;
	}
}

.m-header .m-header__top
{
	color: #ccc !important;
 	border-color: rgba(255, 255, 255, 0.3) !important;
}

.m-brand { 
	background-color: rgb(86, 79, 193) !important;
}

.m-header-search .m-header-search__wrapper {
	@media (min-width: 1025px) {
		color: #ccc !important;
	 	background-color: transparent !important;
	 	border-color: rgba(255, 255, 255, 0.3) !important;
 	}
}

.m-brand .m-brand__tools .m-dropdown .btn {
	color: #ccc !important;
	border-color: rgba(255, 255, 255, 0.3) !important;
}

.m-header-search .m-header-search__input, 
.m-header-search .m-header-search__icon-search>i {
	@media (min-width: 1025px) {
		color: #ccc !important;
	}
}

.m-brand .m-brand__tools .m-brand__toggler span, 
.m-brand .m-brand__tools .m-brand__toggler span::before, 
.m-brand .m-brand__tools .m-brand__toggler span::after {
	background-color: #ccc !important;
}

.m-brand .m-brand__tools .m-brand__toggler:hover span, 
.m-brand .m-brand__tools .m-brand__toggler:hover span::before, 
.m-brand .m-brand__tools .m-brand__toggler:hover span::after,
.m-brand .m-brand__tools .m-dropdown .btn:hover {
	@media (max-width: 1024px) {
		background-color: #fff !important;
	}
}

.m-brand .m-brand__tools .m-brand__icon>i {
	color: #ccc !important;
}

.m-header-menu .m-menu__nav>.m-menu__item.m-menu__item--expanded>.m-menu__link>.m-menu__item-here, .m-header-menu .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link>.m-menu__item-here {
	color: #3f37b9 !important;
}

.m-header__bottom {
	@media (min-width: 1025px) {
		background-color: #3f37b9 !important; 
	}
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text,
.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
	@media (min-width: 1025px) {
		color: #bbb !important;
	}
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text,
.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
	@media (min-width: 1025px) {
		color: #eee !important;
	}	
}

.mat-checkbox-layout {
	margin-top: 15px;
}

.seperator--dashed {
	border-top: 1px dashed #ebedf2;
	margin: 20px 0;
}

.filter {
	display: block !important;
}